@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: android;
    src: url(fontes/idroid.otf) format("opentype");
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    font-family: var(--fonte-padrao);
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;    
    justify-content: center;
    background-color: var(--cor0);
    font-size: 12px;
}

a.externo::after {
    content: '\00A0\1F517';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.815);
}
article {
    border: 0px solid white;
    border-radius: 0px 0px 10px 10px;
    padding: 0px;
    background-color: white;
    margin: 0px auto;
}


picture img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
picture img.bugdroid {
    max-width: 350px;
    margin: auto;
    display: block;
}
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: white;
    min-height: 150px;
    padding-top: 40px;
    padding-bottom: 10px;
}
header h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    font-style: normal;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
header p {
    color: white;
    font-family: var(--fonte-padrao);
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);

}
header nav {
    text-align: left;
    color: white;
    background-color: var(--cor5);
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.267);
    padding: 10px;
}
header nav a {
    color: var(--cor1);
    text-decoration: none;
    margin: 0;
    font-weight: bold;
    padding: 10px;
    transition-duration: .5s;
}
header nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 5px;
}
main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-radius: 0px 0px 10px 10px;
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

#titulo {
    text-align: left;
    font-size: 2em;
    margin: 0 auto;
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-weight: normal;
}
#mtitulo {
    font-size: 1.3em;
    margin: 15px 0;
    color: var(--cor4);
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
    font-weight: normal;
}
aside {    
    border-radius: 10px;
    background-color: var(--cor1);
    padding: 10px; 
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.267);
}
aside ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    margin-left: 20px;
}
aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: var(--cor5);
    color: white;
    font-size: 0.8em;
}
footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}
div.videocontainer {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
}
div.videocontainer iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
